In [2]:
print("Hai")

Hai

print("Hello")

# Day Objectives
## Data Structures
- List
    - Append
    - Insert
- Tuple
- Set
- Dictionaries
<img src="myimage.jpeg" height="150px" width="150px">

## List
- It is a data structure
- It is a data type
- List is mutable

In [9]:
l1=[]
l1=12,13,14,15,16,17li

In [7]:
print(4+10)
print("hi")

14
hi

In [10]:
l1

(12, 13, 14, 15, 16, 17)

In [12]:
l1[2]

14

In [13]:
l1[-1]

17

In [14]:
l1[-2]

16

In [23]:
l1 [ :2]

(12, 13)

In [24]:
l1 [1: ]

(13, 14, 15, 16, 17)

In [26]:
l1[0: ]

(12, 13, 14, 15, 16, 17)

In [27]:
l1[0::]

(12, 13, 14, 15, 16, 17)

In [28]:
l1[0::2]

(12, 14, 16)

In [29]:
l1[1::2]

(13, 15, 17)

In [30]:
l1[::-1]

(17, 16, 15, 14, 13, 12)

In [31]:
l1[-1::-1]

(17, 16, 15, 14, 13, 12)

In [32]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> list
Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
l1.append(18)

In [ ]:
print l1

In [39]:
num = []
num.append(10)

In [40]:
num.append(20)
num.append(30)

In [41]:
num

[10, 20, 30]

num.insert(2,25

In [42]:
num

[10, 20, 30]

In [43]:
num.insert(2,25)

In [44]:
num

[10, 20, 25, 30]

In [45]:
num.remove(2)

ValueError: list.remove(x): x not in list

In [46]:
num.remove(25)

In [47]:
num

[10, 20, 30]

In [48]:
num.pop(1)

20

In [49]:
num

[10, 30]

In [50]:
num.pop()

30

In [51]:
num

[10]

In [52]:
num.append(20)
num.append(30)
num.append(20)
num.append(40)

In [53]:
num

[10, 20, 30, 20, 40]

In [54]:
num.count(20)

2

In [55]:
nums=num

In [56]:
nums

[10, 20, 30, 20, 40]

In [57]:
print nums,num

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(nums,num)? (<ipython-input-57-60fa30059426>, line 1)

In [58]:
print(nums,num)

[10, 20, 30, 20, 40] [10, 20, 30, 20, 40]

In [59]:
nums.append(100)

In [60]:
nums,num

([10, 20, 30, 20, 40, 100], [10, 20, 30, 20, 40, 100])

In [61]:
vals=nums.copy()

In [62]:
vals,nums

([10, 20, 30, 20, 40, 100], [10, 20, 30, 20, 40, 100])

In [63]:
vals.append(200)

In [64]:
vals,nums

([10, 20, 30, 20, 40, 100, 200], [10, 20, 30, 20, 40, 100])

In [65]:
vals.append([11,12,33,44])

In [66]:
vals

[10, 20, 30, 20, 40, 100, 200, [11, 12, 33, 44]]

In [68]:
vals.extend([12,23,344])

In [69]:
vals

[10, 20, 30, 20, 40, 100, 200, [11, 12, 33, 44], 12, 23, 344]

In [71]:
vals[-4]

[11, 12, 33, 44]

In [77]:
vals[-4][1]

12

In [78]:
vals.pop(-1)

344

In [80]:
vals.pop(-3)

[11, 12, 33, 44]

In [82]:
sum(vals)

455

In [83]:
max(vals)

200

In [84]:
min(vals)

10

In [85]:
vals.sort()

In [86]:
vals

[10, 12, 20, 20, 23, 30, 40, 100, 200]

In [88]:
vals[-2]

100

In [89]:
vals[1]

12

In [90]:
vals.reverse()

In [91]:
vals

[200, 100, 40, 30, 23, 20, 20, 12, 10]

In [95]:
l2=list()
n=int(input("Enter size of list:"))
for i in range(n):
    val=int(input("Enter elements"))
    l2.append(val)
    
print(l2)
sum(l2)
print(l2)

Enter size of list:5
Enter elements10
Enter elements20
Enter elements30
Enter elements40
Enter elements50
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [96]:
sum(l2)

150

In [97]:
max(l2)

50

In [98]:
min(l2)

10

In [99]:
avg=sum(l2)/len(l2)
print(avg)

30.0

In [100]:
l2.sort()

In [101]:
print(l2)

[10, 20, 30, 40, 50]

In [102]:
l2[-2]

40

In [103]:
l2[-1]

50

In [104]:
l2[1]

20

In [105]:
l3=input()
l2=l3.split()
l2=

10 20 30 40 50

In [106]:
l2

['10', '20', '30', '40', '50']

In [108]:
numd=list(map(int,input().split()))
nums

10 20 30 40 50 60 70

[10, 20, 40, 50, 60, 70]

In [110]:
nums2=list(map(float,input().split()))
nums2

10.20 30.40 40.50

[10.2, 30.4, 40.5]

### Tuple
- It is a data structure
- It is a data type
- It is Immutable(can't add new data, delete or update)

In [111]:
t1=(12,23,45,'c',"KALA")
t1

(12, 23, 45, 'c', 'KALA')

In [113]:
t1[0]

12

In [114]:
t1[-1]

'KALA'

In [115]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [119]:
t1.count("KALA")

1

In [121]:
t1.index('c')

3

In [124]:
t2=(1,2,3,4)
print(type(t2))
t2=list(t2)
print(type(t2))
t2.append(5)
t2

<class 'tuple'>
<class 'list'>

[1, 2, 3, 4, 5]

In [125]:
t2=tuple(t2)
print(type(t2))
t2

<class 'tuple'>

(1, 2, 3, 4, 5)

## Dictionaries
- it is a data structure
- in dict one can store values in pair format i.e key:value
- {} we use this notation to create dictionaries
- keys-strings, values-integers,list tuples, dict,set, strings

In [127]:
d={'name':"KALA",'age':44}
d

{'name': 'KALA', 'age': 44}

In [128]:
len(d)

2

In [129]:
d1={'names':["kala","sai","Rajesh","Almas"],'Age':[44,40,35,37]}
d1

{'names': ['kala', 'sai', 'Rajesh', 'Almas'], 'Age': [44, 40, 35, 37]}

In [130]:
d1['names']

['kala', 'sai', 'Rajesh', 'Almas']

In [132]:
d1['Age']

[44, 40, 35, 37]

In [133]:
d1['sex']=['F','F','M','F']
d1

{'names': ['kala', 'sai', 'Rajesh', 'Almas'],
 'Age': [44, 40, 35, 37],
 'sex': ['F', 'F', 'M', 'F']}

In [134]:
d1['Age']=[43,40,35,36]
d1

{'names': ['kala', 'sai', 'Rajesh', 'Almas'],
 'Age': [43, 40, 35, 36],
 'sex': ['F', 'F', 'M', 'F']}

In [135]:
dir(d1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [136]:
d2=d1.copy()
d2

{'names': ['kala', 'sai', 'Rajesh', 'Almas'],
 'Age': [43, 40, 35, 36],
 'sex': ['F', 'F', 'M', 'F']}

In [138]:
d2.keys()

dict_keys(['names', 'Age', 'sex'])

In [139]:
d2.values()

dict_values([['kala', 'sai', 'Rajesh', 'Almas'], [43, 40, 35, 36], ['F', 'F', 'M', 'F']])

In [140]:
d2.items()

dict_items([('names', ['kala', 'sai', 'Rajesh', 'Almas']), ('Age', [43, 40, 35, 36]), ('sex', ['F', 'F', 'M', 'F'])])

In [142]:
for key in d2.keys():
    print(key)

names
Age
sex

In [143]:
for value in d2.values():
    print(value)

['kala', 'sai', 'Rajesh', 'Almas']
[43, 40, 35, 36]
['F', 'F', 'M', 'F']

In [145]:
for key,value in d2.items():
    print(key,"==>",value)

names ==> ['kala', 'sai', 'Rajesh', 'Almas']
Age ==> [43, 40, 35, 36]
sex ==> ['F', 'F', 'M', 'F']

In [146]:
d1.pop('Age')

[43, 40, 35, 36]

In [147]:
d1

{'names': ['kala', 'sai', 'Rajesh', 'Almas'], 'sex': ['F', 'F', 'M', 'F']}

In [148]:
d1.popitem()

('sex', ['F', 'F', 'M', 'F'])

In [149]:
d1

{'names': ['kala', 'sai', 'Rajesh', 'Almas']}

In [150]:
scores={}.fromkeys(['c','cpp','python','javascores'],0)
scores

{'c': 0, 'cpp': 0, 'python': 0, 'javascores': 0}

In [151]:
scores['c']=90
scores

{'c': 90, 'cpp': 0, 'python': 0, 'javascores': 0}

In [152]:
scores.setdefault('c',50)

90

In [154]:
scores.setdefault('php',68)

68

In [155]:
scores

{'c': 90, 'cpp': 0, 'python': 0, 'javascores': 0, 'php': 68}

In [157]:
names=['kala','sai','rajesh','almas']
d=dict()
for name in names:
    d.setdefault(name,len(name))
print(d)

{'kala': 4, 'sai': 3, 'rajesh': 6, 'almas': 5}

In [159]:
quals=['Ph.D','Ph.D','M.Tech','M.Tech']
info={}
for name,qual in zip(names,quals):
    info.setdefault(name,qual)
print(info)

{'kala': 'Ph.D', 'sai': 'Ph.D', 'rajesh': 'M.Tech', 'almas': 'M.Tech'}

In [160]:
info1={}
for indx,value in enumerate(names):
    info1.setdefault(indx,value)
info1

{0: 'kala', 1: 'sai', 2: 'rajesh', 3: 'almas'}

In [161]:
info1[0]

'kala'

In [164]:
Ages=[44,39,35,36]
Ages

[44, 39, 35, 36]

In [165]:
sexs=['F','F','M','F']
sexs

['F', 'F', 'M', 'F']

In [166]:
info2={}
for indx,value in enumerate(zip(names,quals,Ages,sexs)):
    info2.setdefault(indx,value)
info2

{0: ('kala', 'Ph.D', 44, 'F'),
 1: ('sai', 'Ph.D', 39, 'F'),
 2: ('rajesh', 'M.Tech', 35, 'M'),
 3: ('almas', 'M.Tech', 36, 'F')}

In [168]:
d4=input().split()
d5={}
for k in d4:
    d5.setdefault(k,d4.count(k))
d5

kala sai sai rajesh sai rajesh kala sai

{'kala': 2, 'sai': 4, 'rajesh': 2}

In [176]:
d6=input()
d7={}
for k in d6:
    d7.setdefault(k,d6.count(k))
print(len(d7),d7)

pythonworkshop
10 {'p': 2, 'y': 1, 't': 1, 'h': 2, 'o': 3, 'n': 1, 'w': 1, 'r': 1, 'k': 1, 's': 1}

In [172]:
len(d7)

15

In [173]:
d8=set()
d8=('kala','sai','rajesh','rajesh')
d8

('kala', 'sai', 'rajesh', 'rajesh')

In [174]:
set(d8)

{'kala', 'rajesh', 'sai'}

In [178]:
d9=input()
d10=list(set(d9))
d11={}
for k in d10:
    d11.setdefault(k,d10.count(k))
print(len(d11),d11)

pythonworkshop
10 {'y': 1, 'n': 1, 't': 1, 'o': 1, 's': 1, 'w': 1, 'k': 1, 'p': 1, 'r': 1, 'h': 1}

### Files
- Collection of data

In [179]:
f = open('sample.txt')
print(f.read())

Hello how are you? you are very Intelligent
I am from VVIT IT DEPARTMENT
It has 3 sections of total 180 strength

In [182]:
f=open('sample.txt','w')
s="Total 7 sections are there"
f.write(s)

26

In [195]:
file1 = open('data.txt','r')
for line in file1:
    if(line(i).startswith['h']])
        print(line.rstrip())

SyntaxError: invalid syntax (<ipython-input-195-8a595ab71542>, line 3)

In [197]:
import os
os.getcwd()

'D:\\FDP\\VVIT_FDP'

In [203]:
path='myfiles/myfile.txt'
with open(path,'a') as f3:
    txt=input()
    f3.write("\n"+txt)
    print("done")

Hi kala when do you write cyber security exam?
done

In [212]:
path='myfiles/contacts.txt'
with open(path,'a') as f4:
    for i in range(10):
        txt=input()
        f4.write("\n"+psthtxt)
        print("done")

kala 9440201567
done
sai 948539485
done
rajesh 943543085
done
fdsg 54365436
done
gfd 4364364367
done
teyery 2533254235
done
tert 364362432
done
terer 25435325
done
trret 4754747
done
terwyt 89768674564
done

In [215]:
path='myfiles/contacts1.txt'
def createContact(name,mobileno):
    with open(path, 'a') as f4:
        f4.write(name+"\t"+mobileno+"\n")
    return "contacts saved....."
for i in range(3):
    name=input("Enter name")
    mobileno=input("Enter Mobile No:")
    createContact(name,mobileno)

Enter namekala
Enter Mobile No:43543654365
Enter namesai
Enter Mobile No:54354365435
Enter nameterwt
Enter Mobile No:98756425

In [216]:
path='myfiles/contacts1.txt'
def allcontacts():
    with open(path) as f4:
        for line in f4:
            print(line.rstrip())
            
allcontacts()

kala	9440201567
sai	9764365448
kala	43543654365
sai	54354365435
terwt	98756425

In [223]:
path='myfiles/contacts1.txt'
def searchcontact():
    y=input()
    with open(path) as f4:
        for line in f4:
            x=line.split()
            if x[0]==y:
                print(x[1])
searchcontact()

kala
9440201567
43543654365